*/node_modules/
.pem
*-plain.yaml
*-Secrets.yaml
.env
.env.*
!.env.example
Logs/
Logs Git Action/
charts/zenix/secrets/*-secrets.yaml
charts/zenix/secrets/zenix-secrets.yaml
sealed-output.yaml
pub-cert.pem